<ion-content padding margin-top *ngIf="addresses.length > 0">
  <ion-card padding *ngFor="let item of addresses">
    <ion-card-header>
      <h1>{{item.fullName}}</h1>
    </ion-card-header>
    <ion-card-content>
      {{item.streetAddress1}}<br>
      {{item.streetAddress2}}<br>
      {{item.city}}, {{item.state}} {{item.zipCode}}<br>
      {{item.country}}<br>
      Phone Number: {{item.phoneNumber}}
    </ion-card-content>
    <ion-row>
      <ion-col col-12 text-center>
        <button ion-button outline block color="dark" *ngIf="user.defaultBillingAddress == item.id">Current Billing
          Address</button>
        <button ion-button block color="dark" *ngIf="user.defaultBillingAddress != item.id" (click)="setBillingDefault(item.id)">Set
          as Billing Address</button>
      </ion-col>
      <ion-col col-12 text-center>
        <button ion-button outline block color="dark" *ngIf="user.defaultShippingAddress == item.id">Current Shipping
          Address</button>
        <button ion-button block color="dark" *ngIf="user.defaultShippingAddress != item.id" (click)="setShippingDefault(item.id)">Set
          as Shipping Address</button>
      </ion-col>
      <ion-col col-6 text-center>
        <button ion-button outline block color="light" (click)="viewAddress(item)">Edit</button>
      </ion-col>
      <ion-col col-6 text-center>
        <button ion-button outline block color="light" (click)="deleteAddress(item.id)">Delete</button>
      </ion-col>
    </ion-row>
  </ion-card>
  <ion-row>
    <ion-col>
      <button block ion-button color="dark" (click)="createAddress()">Add Address</button>
    </ion-col>
  </ion-row>
</ion-content>

<ion-content padding margin-top *ngIf="addresses.length == 0">
  <ion-card>
    <ion-card-content>
      No existing address
    </ion-card-content>
  </ion-card>
  <ion-row>
    <ion-col>
      <button block ion-button color="dark" (click)="createAddress()">Add Address</button>
    </ion-col>
  </ion-row>
</ion-content>
