<ion-header>
  <ion-navbar color="primary">
    <ion-searchbar placeholder="Search"></ion-searchbar>
    <ion-buttons right (click)="viewCart()">
      <button ion-button icon-only>
        <ion-icon name="cart" color="secondary"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <ion-grid>
    <ion-row>
      <h5 padding-left>{{category.name}}</h5>
    </ion-row>
    <ion-row nowrap class="horizontal-scroll">
      <ion-col class="card-scroll" col-4 *ngFor="let item of subCategory">
        <ion-card class="category-list" (click)="viewSubCategory(item.id)">
          <ion-card-content style="padding: 5%; font-size: 3vw; text-align: center; height: 100%;">
            {{item.name}}
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row class="vertical-scroll" *ngIf="productItems.length == 0">
      <ion-col>
        <ion-card>
          <ion-card-content text-center padding>
            No items in this category
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-infinite-scroll (ionInfinite)="$event.waitFor(doInfinite())">
        <ion-infinite-scroll-content></ion-infinite-scroll-content>
      </ion-infinite-scroll>
    </ion-row>
    <ion-row class="vertical-scroll" *ngIf="productItems.length > 0">
      <ion-col col-6 *ngFor="let item of productItems">
        <ion-card (click)="viewProduct(item.id);">
          <img src={{item.image}} />
          <ion-card-content>
            <ion-row>
              <ion-col class="product-name">
                {{item.name}}
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                $ {{item.price | number:'1.2-2'}}
              </ion-col>
            </ion-row>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-infinite-scroll (ionInfinite)="$event.waitFor(doInfinite())">
        <ion-infinite-scroll-content></ion-infinite-scroll-content>
      </ion-infinite-scroll>
    </ion-row>
  </ion-grid>
</ion-content>
